parameters:
    level: 9
    paths:
        - src/
    ignoreErrors:
        -
            message: '#Property App\\ClickAndCollect\\Entity\\PickupPoint::\$id \(int\|null\) is never assigned int#'
            path: src/ClickAndCollect/Entity/PickupPoint.php
